page-home {

}

ul {
   list-style: none;
}

// img {
//    max-height: 150px;
//    //object-fit: cover;
// }

.cards-bg {
   background-color: #F4F3F8;
}

#title {
   font-size: 20px;
}

.col-img {
   padding: 0;
   margin-right: 4px;
}

#total-results {
   color: #F4F3F8;
   padding: 2px;
   padding-left: 8px;
   background-color: #45b3e7;
   font-weight: bold;
   text-shadow: 1px 1px 2px #555
}
