<ion-header>
   <ion-navbar color="dark">
      <ion-title>HowLongToBeat</ion-title>
   </ion-navbar>

   <ion-toolbar color="dark">
      <ion-searchbar animated=true (input)="search($event)"></ion-searchbar>
   </ion-toolbar>
</ion-header>


<ion-content class="cards-bg" fullscreen shrink-header>

   <div id="total-results" hidden>{{totalResults}} games found</div>

   <ion-card *ngFor="let game of gameList">
      <ion-row>
         <ion-col class="col-img">
            <img src={{game.imgUrl}}>
         </ion-col>
         <ion-col width-67>
            <div id="title">{{game.title}}</div>
            <p *ngFor="let duration of game['durations']">{{duration.range}} - {{duration.length}}</p>
         </ion-col>
      </ion-row>
   </ion-card>


</ion-content>
