<ion-header>
   <ion-navbar color="dark">
      <ion-title>HowLongToBeat</ion-title>
   </ion-navbar>
</ion-header>


<ion-content fullscreen="" shrink-header="">
   <ion-toolbar color="dark">
     <ion-searchbar animated=true (input)="search($event)"></ion-searchbar>
   </ion-toolbar>


   <ion-list>
      <ion-item *ngFor="let game of gameList">
         <div id="title">{{game.title}}</div>
         <img src={{game.imgUrl}} />

         <ul>
            <li *ngFor="let duration of game['durations']">
               <p>{{duration.range}} - {{duration.length}}</p>
            </li>
         </ul>
      </ion-item>
   </ion-list>

</ion-content>
