page-home {

}

ul {
   list-style: none;
}

// img {
//    max-height: 150px;
//    //object-fit: cover;
// }

.cards-bg {
   background-color: #F4F3F8;
}

#title {
   font-size: 20px;
}

.col-img {
   padding: 0;
   margin-right: 4px;
}
